{% import "blocks.html" as blocks with context %}
{{ blocks.preamble() }}
<link rel="stylesheet" type="text/css" href="{{ docroot }}/static/css/add.css" />
{{ blocks.navbar(1, isAdd) }}
<div class="content">
    {% if isAdd %}
        <h1>Add <small> to a drink's counter</small></h1>
    {% else %}
        <h1>Breakdown <small> of drinks</small></h1>
    {% endif %}
    {% if hsuccess %}
        <div class="centerbox {{"success" if success else "error"}}"></div>
    {% endif %}

    <table class="tableoftables" border="1">
        <thead>
            <tr>
                <th>Drink Name</th>
                <th>Volume</th>
                <th>Calories per drink</th>
                <th>Amount consumed</th>
                {% if isAdd %}
                <th>Add</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{item.name}}</td>
                    <td style="text-align:right">{{jround(item.volume, 2)}} ml</td>
                    <td style="text-align:right">{{jround(item.calories*item.volume, 2)}} calories</td>
                    <td style="text-align:right">{{item.count}} drinks</td>
                    {% if isAdd %}
                    <td class="lessTall">
                        <form action="{{ docroot }}/add/" method="POST">
                            <input type="hidden" name="id" value="{{item._id}}"/>
                            <button class="button success lessTall">+</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if isAdd %}
    Drink not in the table? Speak to Niklas and he'll add it :)
    {% endif %}
    <div class="footer-spacer"></div>
</div>
{{ blocks.footer() }}
{{ blocks.postamble() }}