{% macro preamble() %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} @ YRS Drink Counter</title>
        <link rel="stylesheet" type="text/css" href="{{ docroot }}/static/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ docroot }}/static/font/clearsans_regular_macroman/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="{{ docroot }}/static/css/global.css" />
        <link rel="stylesheet" type="text/css" href="{{ docroot }}/static/css/foundation.min.css" />

        <script type="application/javascript" src="{{ docroot }}/static/js/min/jquery.min.js"></script>
    </head>
    <body>
{% endmacro %}

{% macro postamble() %}
    </body>
</html>
{% endmacro %}

{% macro navbar(activeIndex, isAdd, scared=False) %}
<div class="nav{{ " scared" if scared }}">
    <a href="{{ docroot }}/" class="nav-button {{ "nav-button-active" if activeIndex == 0 }}">Data</a>
    {% if isAdd %}
    <a href="{{ docroot }}/add/" class="nav-button {{ "nav-button-active" if activeIndex == 1 }}">Add</a>
    {% else %}
    <a href="{{ docroot }}/breakdown/" class="nav-button {{ "nav-button-active" if activeIndex == 1 }}">Breakdown</a>
    {% endif %}
    {% if activeIndex == 2 %}
        <a href="{{ docroot }}/create/" class="nav-button {{ "nav-button-active" if activeIndex == 2 }}">Create</a>
    {% endif %}
</div>
{% if scared %}
    <script type="application/javascript">
        $(document).ready(function(){
            setTimeout(function(){ // Wait a bit to show the user that the bar is still there
                $(".nav").addClass("loaded");
            }, 3000);
        });
    </script>
{% endif %}
{% endmacro %}

{% macro footer() %}
<div class="footer">
by <a href="http://twitter.com/notrodash/">@notrodash</a>
</div>
{% endmacro %}