{% import "blocks.html" as blocks with context %}
{{ blocks.preamble() }}
<link rel="stylesheet" type="text/css" href="{{ docroot }}/static/css/create.css" />
{{ blocks.navbar(2, isAdd) }}

{% macro unitSelector(prefix) %}
<select name="{{prefix}}unit" required>
    <optgroup label="Metric">
        <option value="0" selected>Millilitres (ml)</option>
        <option value="1">Litres (l)</option>
    </optgroup>
    <optgroup label="Primitive Imperial/US units">
        <option value="2">Fluid Ounces (fl oz)</option>
        <option value="3">Pints (pt)</option>
        <option value="4">Cups (cup)</option>
    </optgroup>
</select>
{% endmacro %}

<div class="content">
    <h1>Create <small> a new drink to be tracked on the counter</small></h1>

    <form method="POST" action="{{ docroot }}/create/" class="create-form">
        <div class="g-stack">
            <input type="text" name="name" placeholder="Drink Name" required/>
        </div>
        <div class="g-stack">
            <div class="g-2-3">
                <input type="number" name="volume" placeholder="Volume" required/>
            </div>
            <div class="g-1-3">
                {{ unitSelector("v") }}
            </div>
        </div>
        <div class="g-stack">
            <div class="g-1-2">
                <input type="number" name="calories" placeholder="Calories" required/>
            </div>
            <div class="g-1-2">
                <div class="g-1-2">
                    <input type="number" name="pervol" placeholder="per" required/>
                </div>
                <div class="g-1-2">
                    {{ unitSelector("c") }}
                </div>
            </div>
        </div>

        <button class="button expand">Submit</button>
    </form>
</div>
{{ blocks.footer() }}
{{ blocks.postamble() }}