{% import "blocks.html" as blocks with context %}
{{ blocks.preamble() }}
<link rel="stylesheet" type="text/css" href="{{ docroot }}/static/font/clearsans_bold_macroman/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="{{ docroot }}/static/css/data.css" />
<script type="application/javascript" src="{{ docroot }}/static/js/min/moment.min.js"></script>
<script type="application/javascript" src="{{ docroot }}/static/js/min/data.min.js"></script>
{% if serveTwitter == True %}
<script type="application/javascript" src="{{ docroot }}/static/js/min/data_twitter.min.js"></script>
{% endif %}
{{ blocks.navbar(0, isAdd, True) }}
<div class="content">
    {% if serveTwitter == True %}
    <div id="drink-counter">
    {% endif %}
        <div id="data-display">
            <span id="drink-count">1337</span>
            <span class="subheader numfi">Drinks</span>
        </div>
        <div id="data-calories">
            <span id="calorie-count">666</span>
            <span class="subheader">Calories</span>
        </div>
        <hr>
        <div id="data-popular">
            {% for i in range(0, 4) %}
            <div class="row row-style-{{i}}">
                <div class="cell data-name">
                    Drink Name
                </div>
                <div class="cell data-count">
                    &times;0
                </div>
                <div class="cell data-volume">
                    0L
                </div>
            </div>
            {% endfor %}
        </div>
    {% if serveTwitter == True %}
    </div>
    <div id="twitter">
        <h4>What people are saying about #YRS2014 and #YRSFoC:</h4>
        <div class="tweet-container">
            <div class="tweet" id="template-tweet">
                <a class="tweet-profile-link tweet-image-position" href="#"><img class="tweet-image" src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg"/></a>
                <div class="tweet-body">
                    <div class="tweet-toprow">
                        <a class="tweet-profile-link" href="#">
                            <div class="tweet-username">
                                <span class="realname">Doge</span><br>
                                <span class="username-style">
                                    @<span class="actual-username">aaaa</span>
                                </span>
                            </div>
                        </a>
                        <div class="tweet-time"></div>
                    </div>
                    <div class="tweet-contents">I say funny things in less than or 140 characters. Follow me, I am awesome.</div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{{ blocks.footer() }}
{{ blocks.postamble() }}