@import "jeet/index";
@import "bourbon/bourbon";

.tableoftables {
    width: 100%;
}

button.lessTall {
    vertical-align: middle;
    margin: 0;
    margin-bottom: -1em;
    padding: 0.5rem;

    height: 3em;
    width: 3em;
}

td.lessTall {
    vertical-align: middle;
    position: relative;
    width: 4em;
    line-height: 0;
}

.centerbox {
    position: fixed;
    width: 70%;
    $h: 30%;
    height: $h;
    top: 35%;
    left: 15%;

    &.success {
        background-color: #5da423;

        &:after{
            content: "Successfully added Drink!";
        }
    }

    &.error {
        background-color: #CB585B;

        &:after{
            content: "Oops! That didn't work!";
        }
    }

    text-align: center;
    font-size: 3em;

    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    @include box-pack(center);
    @include box-align(center);

    color: #fff;
    z-index: 2;

    @include animation(centerboxFade 2s 1);
    @include animation-fill-mode(forwards);
}

@include keyframes(centerboxFade) {
    0%{opacity:1.0;display:block;z-index:2;}
    50%{opacity:1.0;display:block;z-index:2;}
    99%{opacity:0.0;display:block;z-index:2;}
    100%{opacity:0.0;display:none;z-index:-99;}
}