@import "jeet/index";
@import "bourbon/bourbon";

body {
    overflow: hidden;
}

#drink-counter {
    @include column(2/3);
}

#data-display {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
    @include box-pack(center);
    @include box-align(center);
    font-size: 27vw;
}

#drink-count {
    color: #344857;
}

.numfi {
    margin-left: -7vw;
    font-size: 2.5vw;
}

.row {
    width: 100%;
}

@for $i from 0 through 3 {
    .row-style-#{$i} {
        color: darken(#DCC6B2, 20% + ($i * 10%));
    }
}

.cell {
    display: inline-block;
}

$vhfontsize-cell: 5;

@media (max-width:800px){
    .cell {
        font-size: #{$vhfontsize-cell}vw;
    }
}

@media (min-width:800px){
    .cell {
        font-size: #{$vhfontsize-cell}vh;
    }
}

.data-name {
    @include column(3/5, 0, 0, 0, .5);
}

.data-count {
    @include column(1/5, 0, 0, 0, .5);
}

.data-volume {
    @include column(1/5, 0, 0, 0, .5);
    text-align: right;
}

#data-calories {
    text-align: center;
    margin-top: -1.5em;
    font-size: 2vw;
}

#twitter {
    @include column(1/3);
}

.tweet {
    position: relative;
    font-size: 2vh;
    width: 100%;
    padding-bottom: 15px;
    @include column(1);
}

.tweet-container {
    overflow-y: auto;
    height: 80vh;
}

.tweet-image {
    border-radius: 1000px;
}

.tweet-image-position {
    @include column(1/6, 0, 0, 0, .2);
}

.tweet-body {
    @include column(5/6, 0, 0, 0, .2);
}

.tweet-contents {
    padding-top: 7px;
    @include column(1);
}

#template-tweet {
    display: none;
}

.username-style {
    color: #8899A6;
    font-size: 1.7vh;
}

.realname {
    font-family: "clear_sansbold" !important;
}

.tweet-username {
    @include column(1/2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tweet-time {
    text-align: right !important;
    @include column(1/2);
    color: darken(#fff, 25%);
}

.tweet-link, .tweet-link:focus, .tweet-link:active, .tweet-link:visited, .tweet-link:hover {
    color: #55ACEE;
}

.tweet-hashtag, .tweet-hashtag:focus, .tweet-hashtag:active, .tweet-hashtag:visited, .tweet-hashtag:hover {
    color: #66757F;
}

.tweet-profile-link {
    border: none;
    text-decoration: none;
    color: inherit;
}