@import "jeet/index";
@import "bourbon/bourbon";

$navbarHeight: 52px;
$navbarPadding: 15px;

@mixin box-shadow($box){
    @include prefixer(box-shadow, $box, webkit moz ms o spec);
}

* {
    font-family: "clear_sansregular" !important;
}

body {
    background: rgba(0, 0, 0, 0.05);
}

.nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: $navbarHeight;
    z-index: 99;

    background-color: #344857;

    vertical-align: middle;

    font-size: 0;

    &.scared {
        @include transition(1s ease opacity);
        &.loaded {
            @include animation(navbarKeyframes 0.5s);
            @include animation-fill-mode(forwards);
        }
    }

    &.scared:focus, &.scared:hover{
        @include animation(navbarKeyframesB 0.5s);
        @include animation-fill-mode(forwards);
    }
}

@include keyframes(navbarKeyframes) {
    0% {
        top: 0;
    }

    100% {
        top: -$navbarHeight + 10;
    }
}

@include keyframes(navbarKeyframesB) {
    0% {
        top: -$navbarHeight + 10;
    }

    100% {
        top: 0;
    }
}

.nav-button {
    position: relative;
    top: 0;
    bottom: 0;
    height: $navbarHeight;
    width: ($navbarHeight * 2) + 10px;

    font-size: $navbarHeight/2.5;
    line-height: $navbarHeight;
    text-decoration: none;
    color: #F9EBE1 !important;

    display: inline-block;
    text-align: center;
}

.nav-button:hover, .nav-button:focus {
    @include box-shadow(0px -3px 0px 0px #A4A8A7 inset);
}

.nav-button-active {
    @include box-shadow(0px -3px 0px 0px #CB585B inset);
}

.content {
    @include shift(1/24);
    @include column(22/24);
}

.g-1-2 {
    @include column(1/2);
}

.g-1-3 {
    @include column(1/3);
}

.g-2-3 {
    @include column(2/3);
}

.g-1-4 {
    @include column(1/4);
}

.g-3-4 {
    @include column(3/4);
}

.g-stack {
    @include stack();
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.footer-spacer {
    position: relative;
    height: 2em;
}